body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #111;
    box-sizing: border-box;
}
hr{
    display: none;
    width: 70%;
}
h1{
    color: #fff;
    font-family: "Comic Neue", cursive;
    font-weight: 900;
    margin: 10px;
}
h2{
    color: #fff;
    font-family: "Comic Neue", cursive;
    font-weight: 900;
    margin: 8px;
    margin-bottom: 15px;
    position: relative;
}
h2::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    margin-top: 5px;
    padding: 0px;
    left: 50%;
    bottom: -30%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 20px;
    background-color: #786cc5;
}
h3{
    color: #fff;
    font-family: "Comic Neue", cursive;
    margin: 10px;
}
p{
    color: #fff;
    font-family: "Comic Neue", cursive;
    margin: 10px;
    text-align: justify;
    text-justify: inter-word;
}
label{
    color: #fff;
    margin: 10px;
    font-family: "Comic Neue", cursive;
    font-weight: 600;
}
/*----------HEADER BANNER----------*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 120px;
    margin: 0px;
    padding: 0px;
    border: none;
    background-color: #333;
}
.ce1024studiologo{
    width: 100px;
    height: 100px;
    object-fit: contain;
    cursor: pointer;
}
/*----------MAIN CONTAINER----------*/
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    height: fit-content;
}
/*----------CONTAINER LABELS/ETIQUETAS----------*/
.containeretiquetas{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 95%;
    height: fit-content;
    margin: 10px;
    padding: 0px;
    border: none;
    background-color: transparent;
    overflow: auto;
}
.containeretiquetas::-webkit-scrollbar{
    display: none;
}
.etiqueta{
    width: fit-content;
    height: fit-content;
    margin: 8px;
    padding: 8px;
    border-radius: 25px;
    background: #5246b0;
    box-shadow: 2px 3px 3px #000;
    transition: 0.3s ease-in;
}
.etiqueta:hover{
    background: #42389185;
    cursor: pointer;
}
/*----------CONTAINER CONTAINER WRAP-----------*/
.containercontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    margin: 0px;
    padding: 0px;
}
/*----------CONTAINER QUE ES CE1024STUDIO----------*/
.containerqueesce1024{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
}
.containerqueesce1024-2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    height: fit-content;
    margin: 0px;
    padding: 0px;
}
.containerqueesce1024-3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    margin: 10px;
    padding: 0px;
}
.imgshow{
    object-fit: cover;
    width: 350px;
    height: fit-content;
    margin: 10px;
    padding: 0px;
    border: none;
    border-radius: 8px;
}
/*----------CONTAINER OBJETIVO CE1024STUDIO----------*/
.containerobjetivoce1024{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
    break-inside: avoid;
    background-color: #222;
}
.containerobjetivoce1024-2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    height: fit-content;
    margin: 0px;
    padding: 0px;
}
/*----------CONATINER ESCUELAS INVITACION----------*/
.containeralumnosdeartes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    width: 100%;
    height: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.containeralumnosdeartes-2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    height: fit-content;
    margin: 0px;
    padding: 0px;
}
/*-----MEDIA QUERY PARA LOS 3 PUNTOS DE CE1024STUDIO-----*/
@media (max-width: 750px) {
    .containerqueesce1024{
        display: flex;
        align-items: center;
        justify-content:center;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0px;
    }
    .containerqueesce1024-2{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        margin: 0px;
        padding: 0px;
    }
    .containerqueesce1024-3{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        height: fit-content;
        margin: 0px;
        padding: 0px;
    }
    .containerobjetivoce1024{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0px;
        border-radius: 5px;
        background-color: #222;
    }
    .containerobjetivoce1024-2{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        margin: 0px;
        padding: 0px;
    }
    .containeralumnosdeartes{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        text-align: center;
        width: 95%;
        height: fit-content;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0px;
    }
    .containeralumnosdeartes-2{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: fit-content;
        height: fit-content;
        margin: 0px;
        padding: 0px;
    }
    .imgshow{
        object-fit: cover;
        width: 160px;
        height: fit-content;
        margin-bottom: 10px;
        padding: 0px;
        border: none;
        border-radius: 5px;
    }
}
/*----------CONTAINER FRASE----------*/
.containerfrase{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    border: none;
    background-color: #222;
}
/*----------FORM CONTACT----------*/
.containerform{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    background-image: url('imgwebp/pexels-kyleloftusstudios-3379934.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
form{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    margin: 0;
    padding: 0;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: -5px 0px 10px #000;
    background-color: transparent;
}
input{
    font-family: "Comic Neue", cursive;
    color: #fff;
    width: 250px;
    height: 25px;
    margin: 10px;
    padding: 0px;
    text-align: center;
    border: #fff solid 2px;
    border-radius: 5px;
    background-color: transparent;
    backdrop-filter: blur(5px);
}
textarea{
    font-family: "Comic Neue", cursive;
    color: #fff;
    width: 250px;
    height: 80px;
    margin: 10px;
    padding: 0;
    text-align: center;
    border: #fff solid 1px;
    border-radius: 5px;
    background-color: transparent;
    backdrop-filter: blur(3px);
}
.btn{
    color: #fff;
    font-family: "Comic Neue", cursive;
    width: 80%;
    height: 30px;
    margin: 10px;
    padding: 0;
    background-color: #294db0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/**/
.containercontainercontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    margin: 0px;
    padding: 0px;
}
/*----------CONTAINER PROYECTOS CE1024STUDIO----------*/
.containerproyecto1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    height: fit-content;
    margin: 10px;
    padding: 0;
    border: none;
    border-radius: 7px;
    background-color: #222;
    break-inside: avoid;
}
.containerproyecto2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    height: fit-content;
    margin: 10px;
    padding: 0;
    border: none;
    border-radius: 7px;
    background-color: #222;
    break-inside: avoid;
}
.containerproyecto4{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    height: fit-content;
    margin: 10px;
    padding: 0;
    border: none;
    border-radius: 7px;
    background-color: #222;
    break-inside: avoid;
}
.imgproyectos{
    object-fit: cover;
    width: 92%;
    height: 200px;
    margin: 10px;
    padding: 0px;
    border-radius: 6px;
}
/*----------FOOTER----------*/
footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 80%;
    height: fit-content;
    margin-top: 20px;
    padding: 0px;
    border: none;
    border-radius: 50px;
    background-color: #2a263e;
}
.iconfoot{
    width: 40px;
    height: 40px;
    margin-top: 6px;
    margin-bottom: 2px;
    padding: 0px;
}
.iconfoot:hover{
    opacity: 0.4;
}






/*----------MODALES HTML CSS JAVASCRIPT----------*/
#dialogproyecto1, #dialogproyecto2, #dialogproyecto3, #dialogproyecto4{
    width: 90%;
    height: fit-content;
    background-color: #333;
    border: none;
    border-radius: 10px;
}
#dialogproyecto1::backdrop{
    background-color: rgba(0, 0, 0, 0.8);
}
#dialogproyecto2::backdrop{
    background-color: rgba(0, 0, 0, 0.8);
}
#dialogproyecto3::backdrop{
    background-color: rgba(0, 0, 0, 0.8);
}
#dialogproyecto4::backdrop{
    background-color: rgba(0, 0, 0, 0.8);
}
.imgmodal{
    width: 300px;
    height: fit-content;
    object-fit: contain;
    margin: 10px;
    padding: 0;
    border-radius: 5px;
}
.btnmodal{
    width: 100px;
    height: 30px;
    margin: 5px;
    padding: 0;
    border: none;
    border-radius: 5px;
    background-color: #294db0;
    color: #fff;
    font-family: "Comic Neue", cursive;
    cursor: pointer;
}